@charset "UTF-8";

body {
    width: 100%;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color: rgb(255, 255, 255);
    margin: 0px;
}

header {
    background-color: #0c0c0c;
    margin: 0px;
    text-align: center;
    padding: 1px;
}

nav {
    background-color: #03192d;
    text-align: center;
    margin-top: 1px;

}


nav > a {
    color: #ffffff;
    text-decoration: none;
    margin-right: 60px;
    font-weight: bolder;
}

a:hover {
    color: #03192d;
    background-color: #ffffff;
    border-radius: 1px;
    text-decoration: underline;
}

main {
    color: rgb(45, 45, 45);
    background-color: rgba(141, 193, 198, 0.509);
}

.noticiaprincipal {
    text-align: center;
    background-color: rgb(232, 239, 239);
}

p {
    color: black;
    text-align: justify;
}


article > aside {
    text-align: left;
    background-color: rgba(211, 209, 209, 0.575);

}

div.subartigo > article {
    color: black;
    background-color: rgba(0, 255, 229, 0.171);
    border-radius: 5px;
}

.parsub {
    padding: 8px;
}

#container {
    width: 100%;
    text-align: justify;
    
}

.subartigo {
    display: inline-block;
    width: 200px;
    margin:  5px 30px;
}

aside {
    color: brown;
    background-color: azure;
}


footer {
    color: rgba(255, 255, 255, 0.468);
    background-color: rgb(71, 81, 96);
    text-align: center; 
    margin-top: 30px;
}