@charset "UTF-8";


body {
    background-color: #84bf93;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: #1C4A29;
}

h1#principal {
    text-align: center;
    background-color: #2B703E;
    color: white;
}

h2 {
    color: #087627;
}

.basico {
    color: #0f8a0f;

}

.intermediario {
    color: #eded45;

}

.avancado{
    color: #c82b2b;
}